<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ITE311-RIVERA2/


    #  Block direct access to index.php and redirect to clean URL
    RewriteCond %{THE_REQUEST} ^.*/index\.php
    RewriteRule ^index\.php(.*)$ /ITE311-RIVERA2/$1 [R=301,L]

    # Redirect all requests to index.php if the file/folder doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Optional: force www (remove if not needed)
    # RewriteCond %{HTTP_HOST} !^www\. [NC]
    # RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
</IfModule>
